*{
    margin: 0;
    padding: 5;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(255,71,208);
    background: radial-gradient(circle, rgba(255,71,208,0.7091211484593838) 0%, rgba(237,112,135,0.9528186274509804) 100%);
    height: 100vh;
    border: 5px solid transparent;
    border-color: #e86faf;
    
}

img {
    width: 30%;
    margin-right: 60px;
    opacity: 0.5;
    transition: opacity 0.8s linear;
    z-index: -2;
    pointer-events: none;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.flex-box:hover img {
    opacity: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background: rgb(226, 49, 108);
}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lista
{
    display: flex;
}

.lista .item 
{
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

.lista .item:hover 
{
    background: rgb(255, 151, 234);
}

.lista .link {
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 935px) {

    nav {
        padding: 0 2rem;
    }

    nav .lista .item {
        padding: 0 20px;
    }

}

@media (max-width: 675px) {

    nav .lista {
        display: grid;
        position: absolute;
        background: #C71585;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .lista .item {
        padding-left: 35px;
    }

    nav .troca {
        display: grid !important;
    }

}

.troca {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

.troca .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .2s;
}

input {
    display: none;
}

input:checked~nav .lista {
    transform: translateY(0);
    z-index: 1;
}

input:checked~nav .troca {
    margin-top: 35px;
}

input:checked~nav .troca .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked~nav .troca .bar:nth-child(2) {
    display: none;
}

input:checked~nav .troca .bar:nth-child(3) {
    transform: rotate(-45deg);
}