.cima {
    background-color: rgb(176, 13, 13);
    padding: 10px;
    text-align: center;
}

.botao{
    display:inline-block;
    background-color: green;
    padding: 20px;

}

.linha {
    display: inline;
    border:5px solid blue;
    color: blue;
}

.cima {
    background-color: rgb(176, 17, 17);
    padding: 10px;
    text-align: center;
}

.botao{
    display:inline-block;
    background-color: green;
    padding: 20px;

}

.linha {
    display: inline;
    border:1px solid blue;
    color: blue;
}
.meio
{
    display: flex;
    background-color: rgb(176, 22, 22);
    grid-template-columns: repeat(3, 50px);
    padding: 30px;
    text-align: center;
}

.bloco1e3
{
    flex: 1;
    background-color: blue;
    padding: 20px;
    margin: 0 10px;
}

.bloco2
{
    flex: 2;
    background-color: blue;
    padding: 20px;
    margin: 0 10px;
}

.grid
{
    background-color: rgb(169, 96, 238);
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    padding: 20px;
}

.grid-bloco
{
    background-color: rgb(176, 19, 19);
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 30px;
}